
body{
    background-color: navy;
    margin: 0 auto;
    }
header{
    text-align: center;
    padding-top: 10px; 
    min-height: 100px;
    background-color: orange;
   }
section{
    padding: 10px;
   }
#inhoudeen{
    text-align: center; 
    width: 23%;
    min-height: 400px;
    background-color: brown;
    float: left
   }
#inhoudtwee{
    width: 45%;
    align-self:auto;
    min-height: 400px;
    background-color: white;
    float: left
   }
#inhouddrie{
    text-align: center; 
    width: 30%;
    min-height: 400px;
    background-color: brown;
    float: left
   }
 footer{
    padding-top: 10px; 
    text-align: center;
    min-height: 100px;
    background-color: orange;
    clear: left;
   }
.post{
    background-color: pink;
}